<div id="result" class="container">
  <ul>
    <li data-ng-repeat="entry in all | filter:search | limitTo:15 | orderBy:'name'"><a href="{{ entry.url }}">{{ entry.name }}<span>{{ entry.url | limitTo:20 }}<span data-ng-if="entry.url.length > 20">...</span></span></a></li>
  </ul>
  <div id="searchOthers">
    <a class="goSearch" href="https://www.google.com/search?q={{ search }}">Search <span class="key">{{ search }}</span> on <span class="site" id="google">Google</span></a>
    <a class="goSearch" href="https://duckduckgo.com/?q={{ search }}">Search <span class="key">{{ search }}</span> on <span class="site" id="ddgo">DuckDuckGo</span></a>
    <a class="goSearch" href="https://www.bing.com/search?q={{ search }}">Search <span class="key">{{ search }}</span> on <span class="site" id="bing">Bing</span></a>
  </div>
</div>