<!DOCTYPE html>
<html lang="en" data-ng-app="bookmarkApp" data-ng-cloak>
<head>
  <title>New Tab</title>
  <meta charset="utf-8">
  <link href="css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="css/style.css"/>
  <link rel="icon" type="image/png" href="favicon.png"/>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/angular-route.min.js"></script>
  <script type="text/javascript" src="js/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</head>
<body style="margin: 0; padding: 0; overflow: hidden" data-ng-controller="bookmarkController">
  <div class="container" id="time-container">
    <div id="time">
      <h1>{{ now | date:'hh' }}<span data-ng-class="blink()"> : </span>{{ now | date:'mm' }}<span class="ampm"> {{ now | date:'a' }}</span></h1>
    </div>
    <div id="date">
      <h2><span>{{ now | date:'EEEE' }}</span> {{ now | date:'yyyy-MM-dd' }}</h2>
    </div>
  </div>
  <div class="container" id="search-container">
    <form data-ng-submit="goSearch()">
      <input type="search" name="search" placeholder="Search" class="text search" data-ng-model="search" data-ng-keyup="startSearch()" autofocus="autofocus">
      <a href="#" class="btn" id="search" data-ng-click="goSearch()"><i class="mdi mdi-magnify"></i></a>
      <a href="#/clear" class="btn" id="clear" data-ng-click="search = undefined"><i class="mdi mdi-close-circle-outline"></i></a>
    </form>
  </div>
  <div id="entry-container">
    <div id="category" class="container">
      <ul>
        <li><a data-ng-class="pageClass('/all')" href="#/all">all</a></li>
        <li data-ng-repeat="bookmark in bookmarks | orderBy:'category'"><a data-ng-class="pageClass('/{{ bookmark.category }}')" href="#/{{ bookmark.category }}">{{ bookmark.category }}</a></li>
        <li><a data-ng-class="pageClass('/search')" href="#" class="disabled">search</a></li>
      </ul>
    </div>
    <div id="link" class="container" data-ng-view></div>
  </div>
</body>
</html>